numpy==1.24.2
pandas==2.0.3
readability==0.3.2
nltk==3.8.1
tqdm==4.66.1
json==2.0.9
collections==0.6.1
typing==3.10.0
concurrent.futures==3.10.0
itertools==0.1.0
Levenshtein==0.20.9
subprocess
psutil
os
pyenchant
PassivePy
emosent-py==0.1.7
transformers==4.34.0
huggingface-hub==0.18.1
torch==2.1.0
spacy
readability

