numpy
pandas
readability
nltk
tqdm
json
collections
typing
concurrent.futures
itertools
Levenshtein
subprocess
psutil
os
pyenchant
PassivePy
emosent-py
transformers
huggingface-hub
torch
spacy
readability

